/* Основные сбросы настроек браузера*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


/*Палитра цветов*/
/* цвет шрифта логотипа - color: #000000; #2196F3; #FFFFFF;*/
/*основной цвет шрифта - color: #757575;*/
/*основной цвет заголовков(h2,h3) - color: #212121;*/
/*основной цвет заголовков(h1) - color: #FFFFFF;*/
/*основной цвет акцента- color: #2196F3;*/
/* цвет фона header - color: #FFFFFF;*/
/* цвет фона footer - color: #2F303A;*/
/* цвет фона main - color: #E5E5E5; #F5F4FA;*/
/* цвет фона hero - color: #C4C4C4;*/
/*цвет icon - color: #AFB1B8;*/

/*Шрифты*/
/*Основной шрифт - Roboto, font-weight: 400;*/
/*Шрифт для h1 - Roboto, font-weight: 900;*/
/*Шрифт для h2, button - Roboto, font-weight: 700;*/
/*Шрифт для h3 - Roboto, font-weight: 500;*/
/*Шрифт для logo - Raleway, font-weight: 700;*/
/*Шрифт для .site-nav, .contact - Roboto, font-weight: 500;*/


:root {
    --primary-text-color: #757575;
    --primary-text-title: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --hero-background-color:#C4C4C4;
    --main-background-color: #E5E5E5;
    --primary-logo-color: #000000;
    --second-main-background: #F5F4FA;
    --primary-font: Roboto, sans-serif;
    --logo-font: Raleway, sans-serif;
    --icon-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
}

/* body */

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

/*index.html*/

/*Скрытые загаловки*/

.visually-hidden {
position: absolute !important;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
padding: 0 !important;
border: 0 !important;
height: 1px !important;
width: 1px !important;
overflow: hidden;
}

/*Стили для header  и  footer*/

.page-header {
    background-color: var(--primary-white-color);
}

.page-header__navigation {
    display: flex;
}

/*LOGO*/

.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 0;
    line-height: 1.192;
    transition: cursor var(--transition-duration) var(--timing-function);
}

.logo:hover,
.logo:focus {
    cursor: pointer;
}

.logo__first-part {
    color: var(--accent-color);
    font-size: 26px;
}

.logo__second-part {
    color: var(--primary-logo-color);
    font-size: 26px;
} 

/*SITE-NAVIGATION*/

.site-nav {
    display: flex;
}

.site-nav__link{  
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-title);

    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;

    transition: color var(--transition-duration) var(--timing-function);
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link:focus,
.site-nav__link:hover {
    color: var(--accent-color);
}

.site-nav__link--current {
    color: var(--accent-color);
}

.site-nav__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

/*CONTACT-HEADER*/

.contact {
    display: flex;
    margin-left: auto;
}

.contact__item:not(:first-child) {
    margin-left: 30px;
}

.contact__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    transition: color var(--transition-duration) var(--timing-function);
}

.contact__link:focus,
.contact__link:hover {
    color: var(--accent-color);
}

.contact__icon-mail {
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition: fill var(--transition-duration) var(--timing-function);
}

.contact__link-mail{
    display: flex;
    align-items: center;
}

.contact__link-mail:hover .contact__icon-mail,
.contact__link-maill:focus .contact__icon-mail {
    fill: currentColor;
}

.contact__icon-phone {
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition: fill var(--transition-duration) var(--timing-function);
}

.contact__link-phone{
    display: flex;
    align-items: center;
}

.contact__link-phone:hover .contact__icon-phone,
.contact__link-phone:focus .contact__icon-phone {
    fill: currentColor;
}

/*CONTAINER*/

.container {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}


/*HERO*/

.hero {
    min-height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
     url(../images/hero/bg-hero.jpg);
    background-color: var(--hero-background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.hero__title {
    margin-bottom: 30px;
    color: var(--primary-white-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero__button {
    padding: 10px 30px;
    border: 1px solid transparent;
}

/*BUTTON*/

.button {
    display: inline-block;
    border-radius: 4px;
    min-width: 200px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    transition: background-color var(--transition-duration) var(--timing-function);
}

.button:hover,
.button:focus {
    cursor: pointer;
    background-color: #188CE8;
}

/*Padding для секций*/

.section-padding {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*ADVANTAGES*/

.advantages__list {
    display: flex;
}

.advantages__title {
    margin-bottom: 10px;
    color: var(--primary-text-title);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
}

.advantages__text {
    font-weight: 400;
}

.advantages__icon {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    border-radius: 4px;
}

/*Margin в списках*/

.list .item:not(:last-child) {
    margin-right: 30px;
}

/*ACTIVITIES*/

.activities {
    padding-bottom: 94px;
}

.activities__list {
    display: flex;
}

.title {
    margin-bottom: 50px;
    color: var(--primary-text-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
}

.activities__item {
    position: relative;
}

.activities__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.143;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
}

/*OUR TEAM*/

.our-team{
    background-color: var(--second-main-background);
}

.our-team__list {
    display: flex;
}

.our-team-member__information {
    margin-top: 30px;
    margin-right: 32px;
    margin-bottom: 30px;
    margin-left: 32px;
}

.our-team-member {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-member__name {    
    margin-bottom: 10px;
    color: var(--primary-text-title);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
}

.our-team-member__job { 
    margin-bottom: 16px;   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: space-between;

}

.social-links__item:not(:last-child) {
    margin-right: 10px;
}

.social-links__item {
    width: 44px;
    height: 44px;
}

.social-links__link {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
    transition: background-color var(--transition-duration) var(--timing-function),
                transform var(--transition-duration) var(--timing-function);
}

.social-links__icon {
    fill: var(--icon-color);
    transition: fill var(--transition-duration) var(--timing-function);
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
    fill: var(--primary-white-color);
}

.social-links__item .social-links__link:hover,
.social-links__item .social-links__link:focus {
    background-color: var(--accent-color);
    outline: none;
    transform: rotate(360deg);
}

/*CLIENTS*/

.clients {
    padding-top: 97px;
    padding-bottom: 91px;
}

.clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__item {
    width: 170px;
    height: 90px;
}

.clients__link {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: border-color var(--transition-duration) var(--timing-function);
}

.clients__icon {
    fill: var(--icon-color);
    transition: fill var(--transition-duration) var(--timing-function);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
    fill: var(--accent-color);
}

.clients__item .clients__link:hover,
.clients__item .clients__link:focus {
    border-color: var(--accent-color);
    outline: none;
}

/*FOOTER-----CONTACT*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}
.footer__contact {
    display: flex;
    justify-content: baseline;
}

.no-padding {
    padding: 0;
    margin-right: 0;
    margin-bottom: 20px;
}

.logo__next-part {
    color: var(--primary-white-color);
    font-size: 26px;
}

.address {
    display: flex;
    font-style: normal;
}

.address__list {
    margin-right: 70px;
}

.address__link {
    color: var(--primary-white-color);
    font-weight: 400;
}

.address__mail,
.address__tel {
    color: rgba(255, 255, 255, .6);
    font-weight: 400;
}

/*Margin в списке footer*/

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

/*FOOTER-----JOIN TO US*/

.footer__text {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.1419;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.join-to-us {
    display: flex;
}
.join-to-us__item:not(:last-child) {
    margin-right: 10px;
}

.join-to-us__item {
    width: 44px;
    height: 44px;
}

.join-to-us__link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color var(--transition-duration) var(--timing-function);
}

.join-to-us__icon {
    fill: var(--primary-white-color);
}

.join-to-us__item .join-to-us__link:hover,
.join-to-us__item .join-to-us__link:focus {
    background-color: var(--accent-color);
    outline: none;
}

/*FOOTER-----SUBSCRIBE*/

.subscribe {
    display: flex;
    margin-left: auto;
}

.footer-form__input {
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    min-width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(33,150,243,0);
;
}

.footer-form__input::placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 28px;
    overflow: hidden;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__icon-send {
    margin-left: 10px;
    transform: translate(0,0);  
    transition: transform var(--transition-duration) var(--timing-function); 
}

.footer-form__btn:focus,
.footer-form__btn:hover {
    cursor: pointer;
} 

.footer-form__btn:focus  .footer-form__icon-send {
    transform: translate(80px,-40px);
}

/*portfolio.html*/

/*HEADER*/

.page-header-portfolio {
    border-bottom: 1px solid #ECECEC;
}


/*FILTERS*/

.filters-list__button {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    min-width: 73px;
    border: 1px solid transparent;
    background-color: #F5F4FA;
    color: var(--primary-logo-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    transition: color var(--transition-duration) var(--timing-function),
                box-shadow var(--transition-duration) var(--timing-function), 
                background-color var(--transition-duration) var(--timing-function);
}

.filters-list__button:focus,
.filters-list__button:hover {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;  
    outline: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
}


.filters-list__item:not(:last-child) {
    margin-right: 8px;
}

.filters-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

/*EXAMPLES OF WORKS*/

.examples {
    display: flex;
    flex-wrap: wrap;
}
.examples__item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.examples__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.examples__item {
    width: 370px;
    border: 1px solid #EEEEEE;
    background-color: var(--primary-white-color);
}

.examples__link{
    display: inline-block;
    transition: box-shadow var(--transition-duration) var(--timing-function);
}

.examples__link:hover,
.examples__link:focus {
    cursor: pointer;
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);    
}

.examples__thumb {
    position: relative;
    overflow: hidden;
}

.examples__overlay {
    position: absolute;
    top: 0;
    left: 0;

    padding: 63px 24px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--primary-white-color);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.556;

    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--timing-function);
}

.examples__link:hover .examples__overlay,
.examples__link:focus .examples__overlay {
    transform: translateY(0);
}

.examples__title {
    margin-bottom: 4px;
    color: var(--primary-text-title);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples__text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
}

.examples__description {
    padding: 20px 24px;
}

/* MODAL WINDOW*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-duration) var(--timing-function), 
                visibility var(--transition-duration) var(--timing-function);
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transition: transform var(--transition-duration) var(--timing-function);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: fill var(--transition-duration) var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: var(--accent-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);      
}

.form {
    padding: 40px;
}

.form__text {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--primary-text-title);
}

.form__label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form__user-information {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1667;
    letter-spacing: 0.01em;
}

.form__input {
    padding-left: 42px;
    min-height: 40px;
    width: 100%;
    border: 1px solid;
    border-color:  rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-duration) var(--timing-function);
}

.form__icon-wrap {
    position: relative;
    display: inline-block;
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--transition-duration) var(--timing-function);
}

.form__input:hover {
    cursor: pointer;
}

.form__label:focus-within .form__input {
    border-color: var(--accent-color);
    outline: none;
}

.form__label:focus-within .form__icon {
    fill: var(--accent-color);
}

.form__feedback{
    margin-bottom: 20px;
    resize: none;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-duration) var(--timing-function);
}

.form__label:focus-within .form__feedback {
    border-color: var(--accent-color);
    outline: none;
}

.form__feedback:hover {
    cursor: pointer;
}

.form__feedback::placeholder {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form__checkbox-wrapper {
    position: relative;
    display: flex;
    padding-right: 11px;
    padding-left: 11p;
    margin-bottom: 30px;
    align-items: center;
}

.form__checkbox-label {
    display: block;
    padding-left: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.form__link {
    color: var(--accent-color);
}

.form__checkbox-label::after {
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
    display: inline-block;
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid;
    border-radius: 2px;
    border-color: var(--primary-logo-color);
    transition: border-color var(--transition-duration) var(--timing-function);
}

.form__checkbox:focus+.form__checkbox-label::after{
    border-color: var(--accent-color);
    outline: none;
}

.form__checkbox:checked + .form__checkbox-label::after {
    background-color: var(--accent-color);
    background-image: url(../images/modal/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
}


.btn-submit {
    padding: 10px 54px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
}

.form__button {
    display: flex;
    justify-content: center;
}