/*Стили для header*/

.page-header {
    background-color: var(--primary-white-color);
}

.page-header__navigation {
    display: flex;
}

/*LOGO*/

.logo:hover,
.logo:focus {
    cursor: pointer;
}

.logo__first-part {
    color: var(--accent-color);
    font-size: 26px;
}

.logo__second-part {
    color: var(--primary-logo-color);
    font-size: 26px;
} 

/*SITE-NAVIGATION*/

.site-nav {
    display: flex;
}

.site-nav__link{  
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-title);

    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;

    transition: color var(--transition-duration) var(--timing-function);
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link:focus,
.site-nav__link:hover {
    color: var(--accent-color);
}

.site-nav__link--current {
    color: var(--accent-color);
}

.site-nav__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

/*CONTACT-HEADER*/

.contact {
    display: flex;
    margin-left: auto;
}

.contact__item:not(:first-child) {
    margin-left: 30px;
}

.contact__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    transition: color var(--transition-duration) var(--timing-function);
}

.contact__link:focus,
.contact__link:hover {
    color: var(--accent-color);
}

.contact__icon-mail {
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition: fill var(--transition-duration) var(--timing-function);
}

.contact__link-mail{
    display: flex;
    align-items: center;
}

.contact__link-mail:hover .contact__icon-mail,
.contact__link-maill:focus .contact__icon-mail {
    fill: currentColor;
}

.contact__icon-phone {
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition: fill var(--transition-duration) var(--timing-function);
}

.contact__link-phone{
    display: flex;
    align-items: center;
}

.contact__link-phone:hover .contact__icon-phone,
.contact__link-phone:focus .contact__icon-phone {
    fill: currentColor;
}

/*PORTFOLIO---HEADER*/

.page-header-portfolio {
    border-bottom: 1px solid #ECECEC;
}
