/*OUR TEAM*/

.our-team{
    @extend %section-padding;
    background-color: var(--second-main-background);
}

.our-team__list {
    @extend %list;
    display: flex;
}

.our-team-member__information {
    margin-top: 30px;
    margin-right: 32px;
    margin-bottom: 30px;
    margin-left: 32px;
}

.our-team-member {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-member__name {
    @include fontsProperty(500, 16px, 1.188);    
    margin-bottom: 10px;
    color: var(--primary-text-title);
    text-align: center;
}

.our-team-member__job { 
    @include fontsProperty(400, 16px, 1.188);
    margin-bottom: 16px;   
    text-align: center;
}

.social-links {
    @extend %list;
    display: flex;
    justify-content: space-between;

}

.social-links__item {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
    margin-right: 10px;
}

    & .social-links__link:hover,
    & .social-links__link:focus {
    background-color: var(--accent-color);
    outline: none;
    transform: rotate(360deg);
}
}

.social-links__link {
    @extend %link;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
    transition: background-color var(--transition-duration) var(--timing-function),
                transform var(--transition-duration) var(--timing-function);
}

.social-links__icon {
    fill: var(--icon-color);
    transition: fill var(--transition-duration) var(--timing-function);

    .social-links__link:hover &,
    .social-links__link:focus & {
    fill: var(--primary-white-color);
}
}