/*BUTTON*/

.button {
    display: inline-block;
    border-radius: 4px;
    min-width: 200px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    transition: background-color var(--transition-duration) var(--timing-function);
}