/*LOGO*/

.logo {
    @include fontsProperty(700, 0, 1.192);
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-family: $logoFont;
    transition: cursor $transitionDuration $timingFunction;
}