/*Padding для секций*/

%section-padding {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*Сброс настроек для link*/

%link {
    text-decoration: none;
}

/*Сброс настроек для list*/

%list {
    list-style: none;
}